DB_CONNECTION_STRING=Server=db;Port=5432;Database=fasttodo;User Id=myuser;Password=mypassword;
DB_PROJECT=./Persistence/Postgres/FastTodo.Persistence.Postgres.csproj
CONTEXT=FastTodoPostgresContext
IDENTITY_CONNECTION_STRING=Server=db;Port=5432;Database=identity;User Id=myuser;Password=mypassword;
IDENTITY_PROJECT=./Persistence/Postgres/FastTodo.Persistence.Postgres.csproj
IDENTITY_CONTEXT=FastTodoIdentityDbContext
SQLProvider=Postgres
ASPNETCORE_ENVIRONMENT=Development

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=fasttodo
PGADMIN_DEFAULT_EMAIL=user@domain.com
PGADMIN_DEFAULT_PASSWORD=catsarecool

REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
REDIS_DATABASES=16
REDIS_PORT=6379

# MONGO_INITDB_ROOT_USERNAME=root
# MONGO_INITDB_ROOT_PASSWORD=pass12345
MONGODB_CONNECTION_STRING=mongodb://admin:supersecretpassword@mongo1:27017,mongo2:27018,mongo3:27019/?replicaSet=rs0&authSource=admin
MONGODB_DATABASE=fasttodo
MONGODB_PROJECT=./Persistence/MongoDB/FastTodo.Persistence.MongoDB.csproj
MONGODB_CONTEXT=FastTodoMongoDbContext

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=supersecretpassword

# For mongo express
ME_CONFIG_MONGODB_SERVER=mongodb
ME_CONFIG_MONGODB_ENABLE_ADMIN=true
ME_CONFIG_MONGODB_ADMINUSERNAME=admin
ME_CONFIG_MONGODB_ADMINPASSWORD=supersecretpassword
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_USERNAME=admin123
